[flake8]
exclude = .git, __pycache__, apps.py, manage.py, serializers.py, views.py, test*, *test.py, *management/commands, *migrations/*
ignore =
	A003,
    E251,
    E501,
    E402,
    W291,
    W293,
    W503,
    F405,
    E128,
    E122,
    E126,
    C408,
    SIM105,
    ANN204,
    ANN101,
    ANN102,
    ANN002,
    ANN003,
    DJ01,
per-file-ignores =
	utils.py:ANN001